{% extends "master.html" %}

{% block title %}Tradexa  Blogs{% endblock %}

{% block content %}

    <style>
        .card-title {
            text-overflow: ellipsis;

            /* Required for text-overflow to do anything */
            white-space: nowrap;
            overflow: hidden;
        }
    </style>

<body>
    <div class="container">
        <!-- <h1 style="text-align: center;border-bottom: 3px solid black;">All The News You Need...</h1>
        -->
        <div class="row">
            {% for art in articles.values %}
            {% comment %} {{ art.img_url }} {% endcomment %}
            {% comment %} {{ art }} {% endcomment %}
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <img class="card-img-top" src="{{art.img_url}}" alt="Image"
                        style="height: 200px;object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{art.headline}}</h5>
                        <p class='card-text'>{{ art.description }}</p>
                        <p class="card-text"><small class="text-muted">{{art.author}}</small></p>
                        <a href="{{ art.url}}" target="_blank" class="btn btn-primary">Read More...</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

{% endblock content %}